* {
  box-sizing: border-box;
}

.style-1 ul {
  position: absolute;
  list-style-type: none;
  display: flex;
  text-decoration: none;
}

.style-1 ul li a {
  text-decoration: none;
  padding: 10px;
  width: 144px;
  height: 23px;
  font-size: 17px;
  color: black;
}

.style-1 .nav-1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 1px;
  margin-bottom: 15px;
}

.style-1 .nav-photo {
  margin-left: 650px;
}

.bed {
  background-image: url(bed.png);
  height: 698px;
  width: 1440px;
}

h1 {
  position: absolute;
  width: 807px;
  height: 77px;
  font-size: 27px;
  text-align: center;
  top: 290px;
  left: 317px;
  color: white;
  font-family: roboto;
}

.disk a {
  margin-top: 371px;
  background-color: none;
  border: 1px solid white;
  text-align: center;
  padding: 5px 35px;
  position: absolute;
  left: 635px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

p {
  position: absolute;
  width: 324px;
  height: 38px;
  color: white;
  margin-top: 661px;
  left: 31px;
  background-color: black;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-family: Palatino Linotype;
}

.simbole {
  margin-left: 69px;
  position: absolute;
}

.four {
  margin-top: 90px;
  margin-left: 3px;
}

.tab {
  margin-left: 500px;
  margin-top: 115px;
}

.polo{
  margin-top: 29px;
}

.copy2{
  margin-top:29px ;
  margin-left:500px;
}

.pod{
  margin-top: 29px;
}

.icon{
  margin-left: 990px;
  margin-bottom: 800px;
}